@import "tailwindcss";
.footer{
   
    width: 100%;
    background-color: #938faa; /* Light gray background */
}
.bgcolor {
    background-color: #938faa; /* Light gray background */
}
.header{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    border-bottom: 2px solid red;
    font-style: italic;
}
.bordertop{    
    padding: 10px;
    border-top: 10px solid rgb(81, 42, 151);
}
.textcoursename{
    color:rgb(81, 42, 151);
}
.aboutsection{
    background-color: #CFCADB;
    padding: 20px;
}
.aboutuslbl{
    color: rgb(46, 14, 95);;
    font-weight: bold;
}
.fullwidth{
    width: 100%;
}
.teammembername{
    color: rgb(81, 42, 151);
    font-weight: bold;
    border-bottom: 3px solid red;
    padding: 0.5em;
    font-size: 1.2em;
}
.teammemberdesignation{
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}
.teamtext{
    padding: 0.8em;
}